body {
  margin: 0;
  font-family: "Montserrat Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: small;
  

}

code {
  font-family: Monserrat, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
html{
  height: 100%;
  
  
}
.transparent{
  background-color: transparent;
  border-bottom: turquoise;
}
/*id*/
#root{
  height: 100%;
  
}
/*class*/
.image-login{
  background: url("./img/login/field-5018490_1920.jpg");
  
}
.background{
  background-color: rgb(5, 177, 168);
  border: none;
}

.Scroll {
	height: 300px;
	border: 1px solid #ddd;
	background: #f1f1f1;
  overflow-y: scroll;
  border-radius: 10px ;
}
.Message {
	height: auto;
}
.Text {
	
	background:#fff;
}





/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}
 
/* Ocultamos el checkbox html */
.switch input {
  display:none;
}
 
/* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
 
/* Pintamos la perilla de control o slider usando el selector before */
.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 
/* Cambiamos el color de fondo cuando el checkbox esta activado */
input:checked + .slider {
  background-color: rgb(5, 177, 168);
}
 
/* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
 
/* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
.slider.round {
  border-radius: 34px;
}
 
.slider.round:before {
  border-radius: 50%;
}