<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    
</head>
<body>
    
    <form action="" class="p-4">
        <input type="text" id="name" class="form-control mt-3" placeholder="Product's Name" autofocus>
        <input type="text" id="price" class="form-control mt-3" placeholder="Price" autofocus>
        <input type="text" id="description" class="form-control mt-3" placeholder="Description" autofocus>
        <input type="text" id="size" class="form-control mt-3" placeholder="Size" autofocus>
        <input type="text" id="Quality" class="form-control mt-3" placeholder="Quality" autofocus>
        <button class="btn btn-primary btn-block mt-3">Hola</button>
    </form>
    <script src="./newProduct.js"></script>
</body>
</html>